@use '@/styles/mixin';

.header {
  padding: 24px 0 8px;

  @include mixin.tabletScreen {
    padding: 16px 0 8px;
  }
}

.flexContainer {
  @include mixin.spaceBetween;
}

.link {
  font-weight: 700;
  text-transform: uppercase;
}
