@use '@/styles/mixin';

.news {
  position: relative;
  width: calc(100% - 32px);
  padding: 16px 24px;
  margin: -40px auto 0;
  background-color: var(--white);
  border-radius: var(--border-radius);

  @include mixin.tabletScreen {
    width: calc(100% - 160px);
    padding: 24px 40px;
  }

  @include mixin.laptopScreen {
    width: 840px;
  }
}

.newsTitle {
  font-size: 1.5rem;
}

.newsLink {
  position: relative;
  right: auto;
  bottom: auto;
  margin-top: 16px;

  @include mixin.tabletScreen {
    position: absolute;
    right: -40px;
    bottom: -40px;
    margin-top: 0;
  }
}
